<div class="container">
  <div class="page-header">
    <h1>Texas</h1>
    <% if logged_in? %>
      <h2>Eingeloggt als <%= "#{current_user.name} (#{current_user.email})"%></h2>
      
    <% end %>
  </div>
  <div class="row">
    <div class="span12">
      <h2>uiuiui</h2>
      <p>Oh ein interessanter Test.
    </div>
    <div class="span4">
      <h2>Oioioi</h2>
      <p>Noch ein Test.
    </div>
  </div>
</div>
