<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Registrierorn...</h1>
    </div>
    <div class="span10">
      <h2>Registrieren</h2>
      <form id="registration_form" action="<%= url '/users/new' %>" method="post">
        <fieldset>
          <div class="clearfix">
            <label for='email'>Email</label>
            <div class="input">
              <input class="xlarge" id="email" name="email" type="email"/>
            </div>
          </div>

          <div class="clearfix">
            <label for='name'>Name</label>
            <div class="input">
              <input class="xlarge" id="name" name="name" type="text"/>
            </div>
          </div>

          <div class="clearfix">
            <label for='password'>Password</label>
            <div class="input">
              <input class="xlarge" id="password" name="password" type="password"/>
            </div>
          </div>

          <div class="actions well">
            <input type="submit" class="btn primary" value="Anmelden" />
          </div>

        </fieldset>

      </form>
    </div>
  </div>
</div>
